---
layout: default
---
<article>
    <header>
        <h1>
            Hi there, welcome!
        </h1>
    </header>
    <content>
        <p>
            I'm Anthony Del Rosario, a <b>Senior Software Engineer</b>
            from Dominican Republic :dominican_republic:, 
            with 8+ years of professional experience building awesome software applications for health care, government, telecommunications and banking industries.
        </p>
        <p>
            Here I share my thoughts on Software Development, Programming, Tools and more...
        </p>
    </content>
</article>


{% if site.show_excerpts %}
    {% include home.html %}
{% else %}
    {% include archive.html title="Thoughts" %}
{% endif %}
