---
layout: default
---
<article>
    <header>
        <h1>
            Hi, I'm Anthony!
        </h1>
    </header>
    <content>
        <p>
            I build awesome applications for the web we all love.
                        Here I share my thoughts on Software Development, Programming, Tools and more! take a look below.
        </p>
        <p>You can also take a look at
            <a href="/resume">my resume</a>,
            <a href="/projects">pet projects</a>,
            <a href="/uses">what tools I use</a>
            or
            <a href="/contact-him">get in touch!</a>.
        </p>
    </content>
</article>

{% if site.show_excerpts %}
    {% include home.html %}
{% else %}
    {% include archive.html title="Thoughts" %}
{% endif %}
